<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Travel Experts 404</title>

	<!-- <%- include('./partials/css-global'); %> -->
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/typography.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/utilities.css">

</head>
<body>
	<!-- Header & Navbar-->
	<%- include('./partials/header'); %>		
		
	<main class="main-404">
		<h2 class="h2-404">404 - OOPS! BRAINS NOT FOUND</h2>
	</main>

	<!-- Footer -->
	<%- include('./partials/footer'); %>

	<!-- JS to toggle hamburger menu -->
	<%- include('./partials/js-toggle'); %> 

	<!-- JS for Current Page -->
	<%- include('./partials/js-current'); %> 

</body>
</html>