<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TravelExperts Register</title>

	<%- include('./partials/css-global'); %>
	<!-- register specific css stylesheet -->
    <link rel="stylesheet" href="css/register.css">

</head>
<body>
	<!-- Header & Navbar-->
	<%- include('./partials/header'); %>

	<main class="register">
		<h2 class="greeting">BON VOYAGE!</h2>
		<form class="register-form" action="#" method="post">
			<fieldset>
				<legend>Welcome to Travel Experts</legend>
				<ul>
					<li>
						<label class="required" for="name">Full Name:</label>
						<input type="text" id="name" name="user_name" required>
					</li>
					<li>
						<label class="required" for="email">E-mail:</label>
						<input type="email" id="email" name="user_email" required>
					</li>
					<li>
						<label class="required" for="pwd1">Password:</label>
						<input type="password" id="pwd1" name="pwd1" minlength="8" maxlength="20" placeholder="8-20 charachters" required>
					</li>
					<li>
						<label class="required" for="pwd2">Confirm-Password:</label>
						<input type="password" id="pwd2" name="pwd2" minlength="8" maxlength="20" placeholder="8-20 charachters" required>
					</li>
					<li class="checkbox">
						<label for="newsletter">Subscribe to Newsletter</label>
						<input type="checkbox" id="newsletter" name="newsletter">
					</li>
					<li>
						<button type="submit"><strong>Register</strong></button>
					</li>
				</ul>
			</fieldset>
		</form>
	</main>
	<!-- Footer -->		
	<%- include('./partials/footer'); %>
	
	<!-- JS to toggle hamburger menu -->
	<%- include('./partials/js-toggle'); %> 

	<!-- JS for Current Page -->
	<%- include('./partials/js-current'); %> 

</body>
</html>